*  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
}

img {
    height: 300px;
    width: auto;
}

.img-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ingredients,
.recipe {
    margin-right: 2em;
    padding: 1em;
    border: 1px solid #333;
    border-radius: 10px;
}